In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

In [4]:
url='https://raw.githubusercontent.com/codebasics/py/master/ML/FeatureEngineering/1_outliers/heights.csv'

In [5]:
df=pd.read_csv(url)

In [10]:
maximum_threshold=df['height'].quantile(0.95)

In [12]:
minimum_threshold=df['height'].quantile(0.05)

In [9]:
## anything above this is considered as outlier

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
9     imran    14.5
10     jose     6.1
11  deepika     5.6
12   yoseph     1.2
13    binod     5.5

In [11]:
df[df['height']>maximum_threshold]

    name  height
9  imran    14.5

In [13]:
df[df['height']<minimum_threshold]

      name  height
12  yoseph     1.2

In [14]:
df[(df['height']>minimum_threshold)&(df['height']<maximum_threshold)]

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5